.App {
  font-family: Avenir Next,Helvetica,"sans serif";
  font-size: 12px;
  line-height: 1.5;
}

h1, h2 {
  margin: 0 0 1em 0;
}

.App-logo {
  height: 100px;
  margin: 0 0 1em 0;
}

.App-header {
  padding: 2em;
  text-align: center;
}

.App-header-title {
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: 0;
}

.App-header-subtitle {
  font-size: 1.2em;
  margin-bottom: 0;
  font-weight: 400;
  font-style: italic;
}

.App-intro {
}
